
# server_cert.cnf
[req]
distinguished_name = req_distinguished_name
req_extensions = req_ext
prompt = no

[req_distinguished_name]
C   = US
ST  = Arizona
L   = Tombstone
O   = Bomba Information Technology Services LLC
OU  = Consulting
CN  = server.local

[req_ext]
subjectAltName = @alt_names

[alt_names]
IP.1 = 10.5.5.67
IP.2 = 10.5.5.68
IP.3 = 10.5.5.69
DNS.1 = servera.local
DNS.2 = serverb.local
DNS.3 = server.local

